.post-list {
  display: grid;
  grid-row-gap: map-get($spacing-unit, "small");
  grid-template-columns: 100%;
}

.post-list__post:hover {
  cursor: pointer;
}

.post-list__post--image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.post-list__post--title {
  margin-top: map-get($spacing-unit, "small");
  text-align: center;
  line-height: 1.45;
}

@media (min-width: 768px) {
  .post-list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: map-get($spacing-unit, "medium");
  }

  .post-list__post--image {
    max-height: 300px;
  }
}
