.text-block {
    margin-bottom: map-get($spacing-unit, "big");
    display: flex;
    flex-direction: column-reverse;
}

.text-block__text {
    text-align: center;
    line-height: map-get($spacing-unit, "medium");
}

.text-block__img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
    .text-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: map-get($spacing-unit, "medium");
    }

    .text-block:nth-of-type(2) {
        display: flex;
        flex-direction: row-reverse;

       img {
            width: 50%;
        }
    }

    .text-block__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 1028px) {
    .text-block:nth-of-type(2) {

       img {
            width: 60%;
        }
    }
}
